In [1]:
1+1

2

In [17]:
class rect:
    def __init__(self,width,height):
        self.width = width
        self.height = height
    def area(self):
        return self.width * self.height
    
    def peri(self):
        return 2*(self.width + self.height)
    
    def __str__(self):
        return 'rec width(width={0}, height={1})'.format(self.width, self.height)
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)
    def __eq__(self, other):
        if isinstance(other,rect):
            return (self.width, self.height) == (other.width, other.height)
        else:
            return False

In [10]:
r1 = rect(10,20)
str(r1)

'rec width(width=10, height=20)'

In [12]:
type(r1)

__main__.rect

In [20]:
r2 = rect(20,30)

In [15]:
r2

Rectangle(20, 30)

In [16]:
str(r2)

'rec width(width=20, height=30)'

In [21]:
r3 = rect(20,30)

In [22]:
r3 == r2

True

In [23]:
r2 is r3

False

In [25]:
r1 == 100

False

In [26]:
r3.width

20

In [27]:
r3.width = 100

In [28]:
r3

Rectangle(100, 30)

In [43]:
class Rectangle:
    def __init__(self, width, height):
        self._width = width
        self._height = height
    
    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)
    
    @property
    def width(self):
        return self._width
    
    @width.setter
    def width(self, width):
        if width <= 0:
            raise ValueError('Width must be positive.')
        self._width = width
    
    @property
    def height(self):
        return self._height
    
    @height.setter
    def height(self, height):
        if height <= 0:
            raise ValueError('Height must be positive.')
        self._height = height

In [47]:
r7 = Rectangle(10,20)

In [48]:
r7

Rectangle(10, 20)

In [49]:
r7.width

10

In [50]:
r7.width = 100

In [54]:
print(r7) ## r7

Rectangle(100, 20)

In [52]:
r7.width = -10

ValueError: Width must be positive.

In [55]:
a = 1,2,3

In [56]:
type(a)

tuple

In [57]:
a = (1)

In [58]:
type(a)

int

In [59]:
a = (1,)

In [60]:
type(a)

tuple

In [61]:
l = [1, 2, 3, 4]

In [62]:
a,b,c,d = l

In [63]:
a,b,c,d

(1, 2, 3, 4)

In [64]:
a, b = 10, 20
print("a={0}, b={1}".format(a, b))

a=10, b=20

In [65]:
a,b = b,a

In [66]:
print("a={0}, b={1}".format(a, b))

a=20, b=10

In [67]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [68]:
dict1

{'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [75]:
for (i) in dict1:
    print(i)

p
y
t
h
o
n

In [ ]:
a, b, c, d, e, f= dict1

In [79]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
y
t
h
o
n

In [92]:
s = {'p', 'y', 't', 'h', 'o', 'n','n'}
# type(s)

In [93]:
print(s)

{'o', 'h', 't', 'n', 'p', 'y'}

In [94]:
for c in s:
    print(s)

{'o', 'h', 't', 'n', 'p', 'y'}
{'o', 'h', 't', 'n', 'p', 'y'}
{'o', 'h', 't', 'n', 'p', 'y'}
{'o', 'h', 't', 'n', 'p', 'y'}
{'o', 'h', 't', 'n', 'p', 'y'}
{'o', 'h', 't', 'n', 'p', 'y'}

In [95]:
a, *b = 'python'

In [96]:
print(a)
print(b)

p
['y', 't', 'h', 'o', 'n']

In [97]:
s = 'python'

In [98]:
a = s[0]
a

'p'

In [101]:
b = s[2:-1]
b

'tho'

In [104]:
a,b,*c,d = s
print(a)
print(b)
print(c)
print(d)

p
y
['t', 'h', 'o']
n

In [110]:
c = ''.join(c)
print(c)

t   h   o

In [111]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l = [*l1,*l2]
l

[1, 2, 3, 4, 5, 6]

In [117]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [119]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [123]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key3': 3}
{*d1, *d2}

{'key1', 'key2', 'key3'}

In [122]:
{**d1,**d2}

{'key1': 1, 'key2': 3, 'key3': 3}

In [126]:
{**d2,**d1}

{'key2': 2, 'key3': 3, 'key1': 1}

In [128]:
a,b,(c,d) = [1,2,['x','y']]
print(a)
print(b)
print(c)
print(d)

1
2
x
y

In [129]:
def fun(a,b,*args):
    print(a)
    print(b)
    print(args)

In [131]:
fun(1,2,3,4,5,6)

1
2
(3, 4, 5, 6)

In [132]:
def fun1(a,b,*args,d):
    print(a)
    print(b)
    print(args)

In [134]:
fun1(1,2,'a','b','d')

TypeError: fun1() missing 1 required keyword-only argument: 'd'

In [147]:
def avg(*args):
    count = len(args)
    total = sum(args)
    if count == 0:
        return 0
    else:
        return total/count

In [149]:
avg(1, 2, 3, 4)

2.5

In [150]:
avg()

0

In [151]:
def avg1(a,*args):
    count = len(args)
    total = sum(args)
    return total/count

In [153]:
avg1(1,2,3,4)

3.0

In [155]:
avg1()

TypeError: avg1() missing 1 required positional argument: 'a'

In [156]:
def fun2(a,b,c,d):
    print(a)
    print(b)
    print(c)

In [157]:
l = [1,2,3,4]

In [158]:
fun2(l)

TypeError: fun2() missing 3 required positional arguments: 'b', 'c', and 'd'

In [162]:
a = *l,
a

(1, 2, 3, 4)

In [163]:
type(a)

tuple

In [166]:
fun2(*l)

1
2
3

In [167]:
def func1(a, b, c, *d):
    print(a)
    print(b)
    print(c)
    print(d)

In [169]:
func1(10, b=20, c=10, 'a', 'b')

SyntaxError: positional argument follows keyword argument (402726676.py, line 1)

In [170]:
func1(10, b=20, c=10, 'a')

SyntaxError: positional argument follows keyword argument (286606526.py, line 1)

In [171]:
def fun3(a,b,*args,d):
    print(a, b, args, d)

In [172]:
fun3(1,2,a,b,5)

TypeError: fun3() missing 1 required keyword-only argument: 'd'

In [180]:
fun3(1,2, 'x', 'y', d=5)

1 2 ('x', 'y') 5

In [186]:
def func1(*args, d='n/a'):
    print(args)
    print(d)

In [187]:
func1(1,2,3,d='hi')

(1, 2, 3)
hi

In [188]:
func1(d='hello')

()
hello

In [189]:
func1()

()
n/a

In [190]:
def func1(a, *, b='hello', c):
    print(a, b, c)

In [195]:
func1(2,c=3)

2 hello 3

In [196]:
def fun(**kwargs):
    print(kwargs)

In [197]:
fun(a=1,b=2)

{'a': 1, 'b': 2}

In [198]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

In [201]:
func(1,2,a=1,b=3)

(1, 2)
{'a': 1, 'b': 3}

In [204]:
func(a,b,**kwargs, c):
    pass

SyntaxError: positional argument follows keyword argument unpacking (3955661910.py, line 1)

In [210]:
def func(*,d, **kwagrs):
    print(d)
    print(kwagrs)

In [211]:
func(d=1,b=20,c=1)

1
{'b': 20, 'c': 1}

In [212]:
def func(*, a=1, b):
    print(a,b)

In [215]:
func(a=10,b=100)

10 100

In [226]:
def func(a=1,b):
    print(a, b)

SyntaxError: non-default argument follows default argument (105608760.py, line 1)

In [230]:
func(a,b=1)

TypeError: func() takes 0 positional arguments but 1 positional argument (and 1 keyword-only argument) were given

In [236]:
def func(a,b,*,c=1,d=3):
    print(a, b, c, d)

In [237]:
func(1,3,c=100,d=30)

1 3 100 30

In [238]:
def func(a, b=2, *, c, d=4):
    print(a, b, c, d)

In [240]:
func(10,20,c=100,d=40)

10 20 100 40

In [241]:
def func(a, b, *args, c, d=4, **kwargs):
    print(a, b, args, c, d, kwargs)

In [245]:
func(1,2,'x','y','z',c=20,z=10,t=20,k=30)

1 2 ('x', 'y', 'z') 20 4 {'z': 10, 't': 20, 'k': 30}

In [247]:
func(1,2,'x','y','z',c=20,d=234,z=10,t=20,k=30)

1 2 ('x', 'y', 'z') 20 234 {'z': 10, 't': 20, 'k': 30}

In [248]:
def func(*args,**kwargs):
    print(args,kwargs)

In [249]:
func(1,2,3,4,5,6,a=1,b=2,c=33)

(1, 2, 3, 4, 5, 6) {'a': 1, 'b': 2, 'c': 33}

In [250]:
l=(1, 2, 3, 4, 5, 6)

In [251]:
func(*l,a=1,b=2,c=33)

(1, 2, 3, 4, 5, 6) {'a': 1, 'b': 2, 'c': 33}

In [253]:
*l,

(1, 2, 3, 4, 5, 6)

In [255]:
type(l)

tuple

In [258]:
tuple('1',)

('1',)

In [260]:
tuple('1')

('1',)

In [267]:
a = tuple(',2,3')
a

(',', '2', ',', '3')

In [268]:
print(1,2,3,sep='---')

1---2---3

In [271]:
print(1,2,3,sep='---\n---')

1---
---2---
---3

In [272]:
print(1,2,3,end='---')

1 2 3---

In [275]:
def calc_hi_lo_avg(*args, log_to_console=True):
    hi = int(bool(args)) and max(args)
    lo = int(bool(args)) and min(args)
    avg = (hi + lo)/2
    if log_to_console:
        print("high={0}, low={1}, avg={2}".format(hi, lo, avg))
    return avg

In [276]:
calc_hi_lo_avg(1,2,3,4,5,6,7,8,9)

high=9, low=1, avg=5.0

5.0

In [277]:
def timit(fn,*args, rep=5, **kwargs):
    print(args, rep, kwargs)

In [281]:
timit(print, 1,2,3, rep=100, sep=',')

(1, 2, 3) 100 {'sep': ','}

In [282]:
import time

In [285]:
help(time.perf_counter)

Help on built-in function perf_counter in module time:

perf_counter(...)
    perf_counter() -> float

    Performance counter for benchmarking.

In [286]:
from datetime import datetime

In [287]:
print(datetime.utcnow)

<built-in method utcnow of type object at 0x00007FFDFE8D12B0>

In [294]:
def log(msg, dt=datetime.utcnow()):
    print('{0}: {1}'.format(dt, msg))

In [298]:
log('message 1')

2025-02-05 16:58:50.722021: message 1

In [315]:
def log(msg, dt=None):
    dt=dt or datetime.utcnow()
    print('{0}:{1}'.format(dt,msg))

In [316]:
log('msg1')

2025-02-05 17:04:19.463282:msg1

In [317]:
def add_item(name, quantity, unit, grocery_list):
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

In [318]:
store_1 = []
store_2 = []

In [319]:
add_item('bananas',2,'units',store_1)

['bananas (2 units)']

In [320]:
add_item('grapes', 1, 'bunch', store_1)

['bananas (2 units)', 'grapes (1 bunch)']

In [321]:
store_1

['bananas (2 units)', 'grapes (1 bunch)']

In [330]:
def add_item(name, quantity, unit, grocery_list=[]):
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

In [331]:
store_1 = add_item('bananas', 2, 'units')
add_item('grapes', 1, 'bunch', store_1)

['bananas (2 units)', 'grapes (1 bunch)']

In [332]:
store_1

['bananas (2 units)', 'grapes (1 bunch)']

In [333]:
store_2 = add_item('milk', 1, 'gallon')

In [334]:
store_2

['bananas (2 units)', 'grapes (1 bunch)', 'milk (1 gallon)']

In [339]:
def add_item(name, quantity, unit, grocery_list=None):
    '''this is a func'''
    if not grocery_list:
        grocery_list = []
    item_fmt = "{0} ({1} {2})".format(name, quantity, unit)
    grocery_list.append(item_fmt)
    return grocery_list

In [337]:
store_1 = add_item('bananas', 2, 'units')
add_item('grapes', 1, 'bunch', store_1)

['bananas (2 units)', 'grapes (1 bunch)']

In [338]:
store_2 = add_item('milk', 1, 'gallon')
store_2

['milk (1 gallon)']

In [340]:
add_item.__doc__

'this is a func'

In [341]:
help(add_item)

Help on function add_item in module __main__:

add_item(name, quantity, unit, grocery_list=None)
    this is a func

In [342]:
x = 3
y = 5
def my_func(a: str) -> 'a repeated ' + str(max(3, 5)) + ' times':
	return a*max(x, y)

In [345]:
my_func(x)

15

In [346]:
help(my_func)

Help on function my_func in module __main__:

my_func(a: str) -> 'a repeated 5 times'

In [347]:
my_func.__annotations__

{'a': str, 'return': 'a repeated 5 times'}

In [366]:
def fact(n: 'int >= 0'):
    '''Calculates n! (factorial function)
    
    Inputs:
        n: non-negative integer
    Returns:
        the factorial of n
    '''
    
    if n < 0:
        '''Note that this is not part of the docstring!'''
        return 1
    else:
        return n * fact(n-1)

In [349]:
help(fact)

Help on function fact in module __main__:

fact(n: 'int >=0') -> int
    Calculates n! (factorial function)

    Inputs:
        n: non-negative integer
    Returns:
        the factorial of n

In [367]:
fact(9)

0

In [368]:
func1 = lambda x, y=10:(x,y)

In [370]:
func1(1,22)

(1, 22)

In [373]:
fun2 = lambda x, *args, y, **kwargs:(x,*args,y,{**kwargs})

In [387]:
fun2(1, 'a', 'b', y=100, a=10, b=20)

(1, 'a', 'b', 100, {'a': 10, 'b': 20})

In [390]:
def fun3(x, fn):
    return fn(x)

In [392]:
fun3(3, lambda x:x**3)

27

In [397]:
def apply_fun(fn, *args):
    return fn(*args)

In [398]:
apply_fun(lambda x,y:(x+y),1,2 )
#(3, 'a', 'b', 'x'=10,'y'=20):

3

In [399]:
apply_fun(lambda *args:sum(args),1,2,3,4,5)

15

In [400]:
l = ['a', 'B', 'c', 'D']

In [401]:
sorted(l)

['B', 'D', 'a', 'c']

In [402]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [409]:
sorted(l,key=str.upper)

['a', 'B', 'c', 'D']

In [407]:
sorted(l, key=lambda s:s.upper())

['a', 'B', 'c', 'D']

In [410]:
d = {'def': 300, 'abc': 200, 'ghi': 100}

In [411]:
type(d)

dict

In [420]:
d

{'def': 300, 'abc': 200, 'ghi': 100}

In [415]:
sorted(d)

['abc', 'def', 'ghi']

In [422]:
d['def']

300

In [425]:
sorted(d, key=lambda a:d[a])

['ghi', 'abc', 'def']

In [ ]:
l = ['Cleese', 'Idle', 'Palin', 'Chapman', 'Gilliam', 'Jones']

In [431]:
sorted(l, key=lambda s:s[:-1])

['Chapman', 'Cleese', 'Gilliam', 'Idle', 'Jones', 'Palin']

In [429]:
sorted(l, key=lambda s:s[0])

['Cleese', 'Chapman', 'Gilliam', 'Idle', 'Jones', 'Palin']

In [432]:
import random

In [449]:
random.random()

0.4885563733927081

In [450]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [472]:
sorted(l, key=lambda s:random.random())

[10, 7, 3, 2, 4, 6, 9, 5, 1, 8]

In [484]:
sorted('fnroenfore', key=lambda s:random.random())

['r', 'e', 'n', 'r', 'n', 'f', 'o', 'f', 'e', 'o']

In [493]:
''.join(sorted('fnroenfore', key=lambda s:random.random()))

'oeffroenrn'

In [499]:
[sorted('fnroenfore', key=lambda s:random.random())]

[['n', 'r', 'f', 'r', 'n', 'e', 'f', 'o', 'o', 'e']]

In [500]:
dir(fact)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [501]:
fact.__name__

'fact'

In [508]:
fun.__defaults__

In [509]:
fun.__code__

In [525]:
l = [1, 2, 3]
res = l.append(4)
print(res)
print(l)

None
[1, 2, 3, 4]

In [520]:
res = l.extend([4])
print(l)

[1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [535]:
l.copy().append(44)
print(l)

[1, 2, 3, 4]

In [536]:
class MyClass:
    def __init__(self):
        print('initializing...')
        self.counter = 0
    
    def __call__(self, x=1):
        self.counter += x
        print(self.counter)

In [537]:
my_obj = MyClass()

initializing...

In [578]:
my_obj.__call__(10)

170

In [583]:
my_obj()

175

In [591]:
def fact(n):
    if n<0:
        return 1
    else:
        return  n*(n-1)

In [593]:
l = list(map(fact,[1,2,3,4]))
print(l)

[0, 2, 6, 12]

In [598]:
l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50]
f = list(map(lambda x,y:x+y,l1,l2))
print(f)

[11, 22, 33, 44, 55]

In [608]:
l = [0, 1, 2, 3, 4, 5, 6,100]
for e in filter(None,l):
    print(e)

1
2
3
4
5
6
100

In [609]:
def is_even(x):
    return x%2==0

In [610]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = filter(is_even,l)
print(list(res))

[2, 4, 6, 8]

In [611]:
res = filter(lambda x:x%2==0,l)
print(list(res))

[2, 4, 6, 8]

In [613]:
l = [1, 2, 3, 4, 5]
res = list(map(fact,l))
print(res)

[0, 2, 6, 12, 20]

In [615]:
[fact(i) for i in l]

[0, 2, 6, 12, 20]

In [616]:
l1 = 1, 2, 3
l2 = 'a', 'b', 'c'
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [617]:
l3 = 'abc'
list(zip(l1,l2,l3))

[(1, 'a', 'a'), (2, 'b', 'b'), (3, 'c', 'c')]

In [620]:
l1 = range(10)
l2 = 'python'
list(zip(l1,l2))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [621]:
l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30, 40, 50]
[i+j for i,j in zip(l1,l2) ]

[11, 22, 33, 44, 55]

In [622]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
[i for i in l if i%2==0]

[2, 4, 6, 8]

In [625]:
res = list(filter(lambda x:x%2==0,l))
print(res)

[2, 4, 6, 8]

In [628]:
#1,4,9,16,25

list(filter(x<30,map(for x**x for x in range(30))))

SyntaxError: invalid syntax (1207990534.py, line 3)

In [631]:
list(filter(lambda x:x<30,
    map(lambda x:x**2, range(30))))

[0, 1, 4, 9, 16, 25]

In [635]:
[x**2 for x in range(30) if x**2<30]

[0, 1, 4, 9, 16, 25]

In [639]:
l = [5, 8, 6, 10, 9]
_max = [(x,y) for x,y in l if x<y then x else y]
print(_max)

SyntaxError: invalid syntax (4065391495.py, line 2)

In [667]:
_max = lambda a,b:a if a>b else b
# print(_max)

In [668]:
l = [5, 8, 6, 10, 9]
# max(l)

In [655]:
l[1:]

[8, 6, 10, 9]

In [674]:
def max_seq(seq):
    res = seq[0]
    for x in seq[1:]:
        res=_max(res,x)
    return res

def max_sequence(sequence):
    result = sequence[0]
    for x in sequence[1:]:
        result = _max(result, x)
    return result

In [675]:
max_seq(l)
# print(res)

10

In [676]:
l = [5, 8, 6, 10, 9]

In [677]:
def _reduce(fn, seq):
    res = seq[0]
    for x in seq[1:]:
        res = fn(res,x)
    return res

In [678]:
_reduce(_max,l)

10

In [681]:
_reduce(lambda x,y: x if x>y else y,l)

10

In [682]:
l = [5, 8, 6, 10, 9]

In [684]:
_reduce(lambda a,b:a+b,l)

38

In [685]:
from functools import reduce

In [686]:
reduce(lambda a,b:a+b,l)

38

In [687]:
reduce(lambda a,b:a if a>b else b,l)

10

In [688]:
l = [0, 1, 2]
any(l)

True

In [689]:
all(l)

False

In [691]:
reduce(lambda a,b:bool(a or b),l)

True

In [692]:
reduce(lambda a,b:bool(a and b),l)

False

In [697]:
bool(0)

False

In [698]:
l = [2, 3, 4]
reduce(lambda a,b:a*b,l)

24

In [702]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n * fact(n-1)

In [712]:
fact(5)

120

In [709]:
a = range(1,5)
print(a)

range(1, 5)

In [711]:
n=5
reduce(lambda a,b:a*b, range(1,n+1))

120

In [718]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [719]:
l=[]
reduce(lambda a,b:a*b,l,1)

1